In [25]:
import pandas as pd

In [26]:
india_weather = pd.DataFrame({
    "city": ["mumbai", "delhi", "bangalore"],
    "temperature": [32, 45, 30],
    "humidity": [80, 60, 70]
})

us_weather = pd.DataFrame({
    "city": ["new york", "chicago", "orlando"],
    "temperature": [21, 14, 35],
    "humidity": [68, 65, 28]
})

In [27]:
df = pd.concat([india_weather, us_weather], keys=['india', 'usa'])
df

              city  temperature  humidity
india 0     mumbai           32        80
      1      delhi           45        60
      2  bangalore           30        70
usa   0   new york           21        68
      1    chicago           14        65
      2    orlando           35        28

In [28]:
temp_df = pd.DataFrame({
    "city": ["mumbai", "delhi", "bangalore"],
    "temperature": [32, 45, 30]
})

wind_df = pd.DataFrame({
    "city": ["mumbai", "bangalore", "delhi"],
    "windspeed": [32, 45, 32]
})

In [29]:
pd.merge(temp_df, wind_df, on="city")

        city  temperature  windspeed
0     mumbai           32         32
1      delhi           45         32
2  bangalore           30         45

In [30]:
df1 = pd.DataFrame({
    "city": ['Chicago', 'Indianapolis', 'Fishers'],
    "temp": [20, 30, 40]
})

df2 = pd.DataFrame({
    "city": ['Chicago', 'Ann Arbor', 'Columbus'],
    "windspeed": [20, 30, 40]
})

In [35]:
df1.merge(df2, on="city", how="inner")

      city  temp  windspeed
0  Chicago    20         20

In [39]:
df1.merge(df2, on="city", how="outer")

           city  temp  windspeed
0     Ann Arbor   NaN       30.0
1       Chicago  20.0       20.0
2      Columbus   NaN       40.0
3       Fishers  40.0        NaN
4  Indianapolis  30.0        NaN

In [42]:
df1.merge(df2, on="city", how="left")

           city  temp  windspeed
0       Chicago    20       20.0
1  Indianapolis    30        NaN
2       Fishers    40        NaN

In [44]:
df1.merge(df2, on="city", how="right")

        city  temp  windspeed
0    Chicago  20.0         20
1  Ann Arbor   NaN         30
2   Columbus   NaN         40